{% extends "base.html" %}
{% load static %}

{% block page_title %}Review Detail{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "reviews/styles.css" %}"/>
{% endblock %}

{% block content %}
    <p>Writtent By: {{ review.user_name }}</p>
    <p>Date: {{ now|date }}</p>
    <p>Rating: {{ review.rating }}</p>
    <p>{{ review.review_text }}</p>
    {% if is_favorite %}
        <p>Favorited</p>
    {% else %}
        <form action="/reviews/favorite" method="POST">
            {% csrf_token %}
            <input 
                type="hidden" 
                name="review_id"
                value="{{ review.id }}"
            >
            <button>Favorite</button>
        </form>
    {% endif %}
{% endblock %}